body {
    background-color: lightgray !important;
    font-family: Gill Sans !important;
}

#username{
    margin-top: 50px;
}

#password{
    margin-top: 10px;
}

#sumbitLogin{
    margin-top: 20px;
}

#registerButton{
    margin-top: 20px;
}