body {
    background-color: lightgray !important;
    font-family: Gill Sans !important;
}

#username{
    margin-top: 30px;
}

#password{
    margin-top: 5px;
}

#passwordConf{
    margin-top: 5px;
}

#button{
    margin-top: 30px;
}