<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My Web Site</title>
    </head>
    <body>
        <h1>Player Data from Chess.com:</h1>
        <ul>
            <!-- <li>Username: <span th:text="${player.username}"></span></li> -->
            <!-- <li>Country: <span th:text="${ChessDotComPlayer.country}"></span></li>
            <li>Rating: <span th:text="${ChessDotComPlayer.chess_blitz.rating}"></span></li>
            <li>Games Played: <span th:text="${ChessDotComPlayer.chess_blitz.games}"></span></li> -->
        </ul>
    </body>
</html>
